.EventEnter{
  display: flex;
  flex-direction: column;
  width: 300px;
  max-width: 100%;
  border: 10px solid black;
  border-radius: 10px;
}
.EnviadoEnter{
  max-width: 100%;
  width: 50px;
  display:flex;
  flex-direction: column-reverse;
  margin-top: 1px;
  border: 10px solid black;
  border-radius: 10px;
  color: black;
}
.ButtonOne{
  max-width: 100%;
  width: 100px;
  display: grid;
  flex-wrap: wrap;
  margin-top: 15px;
  border: 2px solid black;
  border-radius: 10px;
  font-size:black;
}